<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>147266380618-ss0mt8nu691srtcsnji4doq08o4qf564.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.147266380618-ss0mt8nu691srtcsnji4doq08o4qf564</string>
	<key>API_KEY</key>
	<string>AIzaSyBiHQjFBfgZPwqNHEtWh7PNUquqs4040hQ</string>
	<key>GCM_SENDER_ID</key>
	<string>147266380618</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.loginSignupValidationFirebase</string>
	<key>PROJECT_ID</key>
	<string>fir-login-signup-22aa1</string>
	<key>STORAGE_BUCKET</key>
	<string>fir-login-signup-22aa1.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:147266380618:ios:6af70ec1e3128ec2c7d7b3</string>
</dict>
</plist>